<div class="mainWraper">
  <div class="formulario">
    <label for="titulo">Titulo</label>
    <input id="titulo" type="text" />
    <label for="urlImg">Url de la imagen</label>
    <input id="urlImg" type="text" />
    <label for="txtNoticia">Cuerpo de la noticia</label>
    <textarea id="txtNoticia" rows="10" cols="50"></textarea>
    <button>Publicar</button>
  </div>
  <div class="listadoNoticias">
    <article class="noticia">
      <h1>Titulo de la noticia</h1>
      <div>
        <img
          class="imagen"
          src="https://picsum.photos/300"
          alt="titulo de la noticia"
        />
      </div>
      <div>
        Do laboris anim ea aliquip magna cillum proident non aliquip velit velit
        id eu amet. Eiusmod ad id et excepteur dolore Lorem officia exercitation
        fugiat esse occaecat laborum ex aliquip. Nostrud proident commodo qui
        enim duis irure ea dolore occaecat proident quis ad cillum nisi. Do elit
        ullamco laborum cillum magna proident adipisicing enim laborum est
        occaecat proident exercitation.
      </div>
      <p class="fechaPublic">Fecha de publicación: 05/07/2023</p>
    </article>
    <article class="noticia">
      <h1>Titulo de la noticia</h1>
      <div>
        <img
          class="imagen"
          src="https://picsum.photos/300"
          alt="titulo de la noticia"
        />
      </div>
      <div>
        Do laboris anim ea aliquip magna cillum proident non aliquip velit velit
        id eu amet. Eiusmod ad id et excepteur dolore Lorem officia exercitation
        fugiat esse occaecat laborum ex aliquip. Nostrud proident commodo qui
        enim duis irure ea dolore occaecat proident quis ad cillum nisi. Do elit
        ullamco laborum cillum magna proident adipisicing enim laborum est
        occaecat proident exercitation.
      </div>
      <p class="fechaPublic">Fecha de publicación: 05/07/2023</p>
    </article>
  </div>
</div>
