input,
label,
textarea {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mainWraper {
  display: flex;
  margin: 0 5% 0 5%;
  background-color: #dbf1f1;
}
.formulario {
  font-family: 'Roboto', sans-serif;
  flex-basis: 25%;
  padding: 5%;
}
.listadoNoticias {
  flex-basis: 75%;
  margin-top: 10px;
  margin-bottom: 50px;
}
.noticia {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #b4dede;
  border-radius: 10px;
  padding: 5%;
  border: 1px solid #9ec4c4;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.imagen {
  float: left;
  margin-right: 10px;
}
.fechaPublic {
  font-size: 0.75rem;
}
