<div class="mainWraper">
  <div class="formularioWraper">
    <div class="formulario">
      <h2>Publicar noticia</h2>
      <label for="titulo">Titulo</label>
      <input
        id="titulo"
        type="text"
        placeholder="Introduce el titulo"
        [(ngModel)]="tituloInput"
      />
      <label for="urlImg">Url de la imagen</label>
      <input
        id="urlImg"
        type="text"
        placeholder="url de la imagen"
        [(ngModel)]="urlImagenInput"
      />
      <label for="txtNoticia">Contenido de la noticia</label>
      <textarea
        id="txtNoticia"
        rows="10"
        cols="50"
        placeholder="Contenido de la noticia"
        [(ngModel)]="cuerpoInput"
      ></textarea>
      <button (click)="publicarNoticia()">Publicar</button>
    </div>
  </div>
  <div class="listadoNoticias" [innerHTML]="cargarNoticias()"></div>
</div>
